*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(186, 253, 253);
}

#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}
#nav-left{
    display: flex;
    gap:50px;
}
#logo{
    display: flex;
    align-items: center;
    gap:5px;
}

#options{
    display: flex;
    gap:35px;
}
#nav-btn{
    padding: 0px 15px;
    background-color: transparent;
    border-color: blue;
    color: blue;
}

#center{
    width: 40%;
    text-align: center;
}
#center-p1{
    margin-bottom: 10px;
    text-transform: uppercase;
}
#input1{
    padding: 10px 5px;
    border: none;
    outline: none;
}
#btn1{
    background-color: orangered;
    border: none;
    color: white;
    padding: 8px 12px;
}
#bottom{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.card{
    display: flex;
    gap: 15px;
    width: 30%;
}